sentence-transformers==2.2.2
huggingface-hub==0.16.4
langchain
flask
pypdf
python-dotenv
pinecone-client[grpc]
langchain-pinecone
langchain_community
langchain_openai
langchain_experimental
ipykernel
pyreadline3

streamlit
#-e .